.info {
	font-size: large;
	position: absolute;
	width: 50%;
	padding-top: 5px;
	padding-bottom: 12px;
	background-color: transparent;
	text-align: center;
	top: 0;
	left: 25%;
	display: table;
	color:#b1c903;
}

#snapContainer {
	width: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -25%;
	margin-left: -25%;
	background: #FFFFFF;
	opacity: .0;
}

#snapContainer:before {
	content:"";
	display: block;
	padding-top: 100%;
}

@media (orientation: landscape) {
	#snapContainer {
		width: 30%;
		margin-top: -15%;
		margin-left: -15%;
		background: #FFFFFF;
		opacity: .0;
	}   
}