html
{
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body
{ 
	font-family: sans-serif, Arial, Segoe UI;
	font-size: 16px;
	background: transparent;
	margin: 0;
	padding: 0;
}

.header
{
	color: #FFFFFF;
	height: 6%;
	position: fixed;
	top: 0px;
	display: block;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.5);
}

h1
{
	font-size: 30px;
	font-weight: normal;
	border-bottom: 4px solid #639ecd;
	display: inline-block;
	line-height: 53px;
	margin: 0 0 0 15px;
}

.content
{
	/*margin: 80px 5px;*/
	text-align: center;
}

.button
{
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 5px;
	color: #FFFFFF;
	/*background: #fff url(img/button-background.png) repeat;*/
	line-height: 30px;
	background-color: #b1c903;
	box-shadow: 1px 1px 1px #6C7077;
	text-shadow: #7B7D82 1px 1px 1px;
	margin: 5px 3px;
	/*width: 143px;*/
	font-size: xx-large;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 50px;
	padding-right: 50px
}



@media screen and (max-width: 400px)
{
	button.big
	{
		width: 300px;
	}
}

@media screen and (max-width: 1100px)
{
	.testo
	{
		font-size: xx-large;
	}
	.testoBig
	{
		font-size: xx-large;
	}

}

@media screen and (max-width: 800px)
{
	.testo
	{
		font-size: x-large;
	}
	.testoBig
	{
		font-size: xx-large;
	}

}

@media screen and (max-width: 700px)
{
	.testo
	{
		font-size: large;
	}
	.testoBig
	{
		font-size: xx-large;
	}

}

@media screen and (max-width: 500px)
{
	.testo
	{
		font-size: medium;
	}
	
	.testoBig
	{
		font-size: x-large;
	}
}




#downloadedImage{
    width:100%;
}

.horizontalLine
{
	border: none;
	border-top: 1px solid #B3B7BF;
	box-shadow: 0px -1px 0px #565961;
	margin-top: 20px;
	margin-bottom: 20px;
}

#result
{
	border-radius: 5px;
	border-width: 1px;
	border-style: solid;
	border-top-color: rgba(0, 0, 0, 0);
	border-right-color: rgba(0, 0, 0, 0.2);
	border-bottom-color: rgba(255, 255, 255, 0.5);
	border-left-color: rgba(0, 0, 0, 0.2);
	background-color: rgba(103, 109, 119, 0.85);
	margin: 10px auto;
	box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.7);
	color: #fff;
	line-height: 20px;
	font-weight: bold;
	font-size: 15px;
	text-align: left;
	max-width: 468px;
	min-height: 20px;
	padding: 10px 18px;
}

.footer
{
	width: 100%;
	/*height: 2%;*/
	position: fixed;
	bottom: 0px;
	margin: 0 auto;
	/*background-image: url("img/footer-background.png");
	background-repeat: repeat-x;*/
	background-color: #4a9328;
	color: #ffffff;
}


.footer img
{
	height: 19px;
	width: 83px;
	float: left;
	padding-left: 12px;
	padding-top: 3px;
}

.footer div
{
	text-align: center;
	/*float: right;*/
	color: #FFFFFF;
	padding-right: 0px;
	padding-top: 4px;
}